<div class="container">
  <div class="row">
    <div class="col">
      <app-quoteform (addQuote)="addNewQuote($event)"></app-quoteform>
    </div>
    <div class="col">
      <div *ngFor='let quote of quotes;let i = index'>
        <li appHighlight *ngIf= 'highlighter(i) && quote.upvote > 0' >{{quote.name}}</li>
        <li  *ngIf= '!highlighter(i) ||  quote.upvote === 0' >{{quote.name}}</li>
        <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
      </div>
    </div>
  </div>
</div>
